.header._active {
  position: fixed;
}
.header__content {
  max-width: 1052px;
  padding: 0px 10px;
  margin: 0 auto;
}
.header__menu {
  padding: 10px 0;
  height: 82px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 767.98px) {
  .header__menu {
    height: 50px;
  }
}

@media (max-width: 767.98px) {
  .menu__body {
    -webkit-transform: translate(0px, -100%);
            transform: translate(0px, -100%);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 70px 10px 30px 10px;
    background-color: rgba(255, 255, 255, 0.801);
  }
  .menu__body._active {
    -webkit-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
    z-index: 30;
  }
}
.menu__list {
  height: 82px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .menu__list {
    height: 50px;
    display: block;
  }
  .menu__list li {
    margin-bottom: 10px;
  }
  .menu__list li:last-child {
    margin: 0px 0px 0px 0px;
  }
}
.menu__list li {
  margin: 0px 20px;
}
@media (max-width: 767.98px) {
  .menu__list li {
    margin: 40px 0;
  }
}
.menu__link {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
.menu__link._active {
  color: #ff6464;
}
@media (max-width: 991.98px) {
  .menu__link:hover {
    color: #ff6464;
  }
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 40px;
    display: block;
    text-align: center;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 31;
  }
  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon-menu span:first-child {
    top: 0pc;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}