.works {
  display: flex;
  flex-direction: column;
  //works__main-title
  .works__main-title {
    color: #21243d;
    margin: 0px 0px 45px 0px;
    @media (max-width: $md3) {
      margin: 0px 0px 20px 0px;
    }
  }

  // .works__item

  &__item {
    padding-bottom: 30px;
    margin: 0px 0px 30px 0px;
    &:last-child {
      margin: 0px 0px 0px 0px;
    }
    border-bottom: 1px solid #e0e0e0;
    @media (min-width: $md3) {
      display: flex;
      align-items: flex-start;
    }
  }

  // .works__image

  &__image {
    display: block;
    flex: 0 0 246px;
    border-radius: 6px;
    min-height: 180px;
    overflow: hidden;
    @media (max-width: $md3) {
      margin: 0px 0px 17px 0px;
      padding: 0px 0px 60% 0px;
    }
  }

  // .works__body

  &__body {
    flex: 1 1 auto;
    @media (min-width: $md3) {
      padding: 0px 0px 0px 18px;
    }
  }

  // .works__title

  &__title {
    color: inherit;
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    line-height: 44 / 30 * 100%;
    margin: 0px 0px 15px 0px;
    cursor: pointer;
    @media (max-width: $md3) {
      font-size: 24px;
    }
    @media (min-width: $md2) {
      &:hover {
        color: #ff6464;
      }
    }
  }

  // .works__info

  &__info {
    display: flex;
    align-items: center;
    margin: 0px 0px 15px 0px;
  }

  // .works__yaer

  &__yaer {
    background: #142850;
    border-radius: 16px;
    height: 25px;
    padding: 0px 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 900;
    font-size: 18px;
  }

  // .works__category

  &__category {
    color: #8695a4;
    font-size: 20px;
    margin: 0px 0px 0px 25px;
  }
}
